/* .all a {
  position: absolute;
  left: 90px;
  top: 5px;
  font-size: larger;

}

.al a {
  position: absolute;
  left: 6px;
  top: 5px;
  font-size: larger;

}

.navbar img {
  width: 80px;
  height: 50;
  position: absolute;
  top: 5px;
  left: 30px;
}

.navbar1 button {
  position: absolute;
  top: 20px;
  right: 80px;
}

.a1 a {
  display: inline;
  font-family: 'Public Sans', sans-serif;
  position: absolute;
  left: 490px;
  top: 15px;
  font-size: 26px;
}

.a1 a:hover {
  background-color: white;
}

.a2 a {
  display: inline;
  font-family: 'Public Sans', sans-serif;
  position: absolute;
  left: 600px;
  top: 15px;
  font-size: 26px;
}

.a2 a:hover {
  background-color: white;
}

.a3 a {
  display: inline;
  font-family: 'Public Sans', sans-serif;
  position: absolute;
  left: 800px;
  top: 15px;
  font-size: 26px;
}

.a3 a:hover {
  background-color: white;
}

.a4 a {
  display: inline;
  font-family: 'Public Sans', sans-serif;
  position: absolute;
  left: 990px;
  top: 15px;
  font-size: 26px;
}

.a4 a:hover {
  background-color: white;
}

.a5 a {
  display: inline;
  font-family: 'Public Sans', sans-serif;
  position: absolute;
  left: 1170px;
  top: 15px;
  font-size: 26px;
}

.a5 a:hover {
  background-color: white;
}

.a6 a {
  display: inline;
  font-family: 'Public Sans', sans-serif;
  position: absolute;
  left: 1270px;
  top: 15px;
  font-size: 26px;
}

.a6 a:hover {
  background-color: white;
}

.aa h1 {
  font-size: 100px;
  color: rgb(101, 101, 138);
  position: absolute;
  top: 100px;
  left: 40%;
}

.aa h2 {
  font-size: 50px;
  color: rgb(101, 101, 138);
  position: absolute;
  top: 240px;
  left: 45%;
}

.aa h3 {
  font-size: 50px;
  color: brown;
  position: absolute;
  top: 300px;
  left: 57%;
}

.aa img {

  width: 800px;
  height: 700px;
  position: absolute;
  top: 30%;
  right: 0%;
}

.aa p {
  position: absolute;
  top: 45%;
  left: 60px;
  width: 800px;
  font-size: 25px;
  color: black;
}

.aa1 img {
  width: 59%;
  height: 70%;
  position: absolute;
  top: 40%;
  left: 0px;
  opacity: 0.4;
}

.aa button {
  position: absolute;
  top: 65%;
  left: 100px;
  border-radius: 15%;
  height: 50px;
  color: white;
}

.aa h4 {
  position: absolute;
  top: 66%;
  left: 500px;
  color:rgb(28, 80, 250);
}
.banner.text{
  position: absolute;
  top: 73%;
} */


